<form action="/projects" method="POST">
    <label>
        Project Title
        <input type="text" name="project_title" placeholder="Project Title" />
    </label>
    <label>
        Project Start
        <input type="text" name="project_start" placeholder="Project start" />
    </label>
    <label>
        Project Summary
        <input type="text" name="project_summary" placeholder="Project start" />
    </label>
    <label>
        Project URL
        <input type="text" name="project_url" placeholder="Project url" />
    </label>
    <label>
        Project Open
        <input type="text" name="project_open" placeholder="Project open" />
    </label>
    <button type="submit" CLASS="is-primary"> Submit Project </button>
</form>