<div class="form-container">
  <form action="/users/signup" method="POST" class="form">
    <h1 class="login-text">${title}</h1><br/>
    <div class="field">
      <div class="control">
          <input class="input is-primary" name="first_name" type="text" placeholder="First Name">
        </div>
    </div>
    <div class="field">
      <div class="control">
          <input class="input is-primary" name="last_name" type="text" placeholder="Last Name">
        </div>
    </div>
    <div class="field">
      <div class="control">
          <input class="input is-primary" name="city" type="text" placeholder="City">
      </div>
    </div>
    <div class="field">
      <div class="control">
          <input class="input is-primary" name="about_me" type="text" placeholder="Write Something About Yourself">
      </div>
    </div>
    <div class="field">
      <div class="control has-icons-left">
          <input class="input is-primary" name="email" type="email" placeholder="Your Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
      </div>
    </div>
    <div class="field">
      <div class="control has-icons-left">
          <input class="input is-primary" name="password" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
      </div>
    </div>
    <button type="submit" class="button is-info"> Sign Up </button> <br /><br />
    <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team&client_id=5213863414.652968572546"><img
        src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
  </form>

</div>

